@model IEnumerable<Curso.Domains.Entities.Product>

@foreach(var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductNumber)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
        </td>
    </tr>
}
